.skills {
  padding: 20px;
  margin: 5px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  background: rgb(80, 87, 83);
  background: linear-gradient(
    138deg,
    rgba(80, 87, 83, 0) 0%,
    rgba(255, 255, 255, 0.6110819327731092) 43%,
    rgba(0, 0, 0, 1) 100%
  );
}
